fastapi
uvicorn[standard]
pydantic-settings==2.3.4
python-multipart>=0.0.18
sqlalchemy==2.0.31
psycopg2-binary
redis==5.0.7
firebase-admin==6.5.0
pymupdf
google-genai
requests
python-pptx
python-docx
openpyxl
